*{
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
p,
ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar header"
    "sidebar main-content";
    background-color: #e8f0f8;
}


    .sidebar {
        background-color: #0E86D4;
        grid-area: sidebar;
        justify-content: start;
    }

     svg {
        height: 20px;
        fill: white;
        margin-right: 20px;
    }

    #logo {
        height: 35px;
        margin-right: 5px;
    }

    .sidebar__logo ul li {
        display: flex;
        font-weight: bold;
        align-items: center; 
        justify-content: flex-start;
    }

    .sidebar__menu-1 ul li,
    .sidebar__menu-2 ul li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        font-weight: bold;
    }

    .sidebar__menu-1 {
        margin-top: 10px;
    }

    .sidebar__menu-2 {
        margin-top: 30px;
    }


    .sidebar__logo img {
        height: 40px;
    }






.sidebar__menu li {
    list-style: none;
    padding: 8px;
    color: white;

}

    .header {
        background-color: white;
        box-shadow: 0 2px 2px gray; 
        grid-area: header;
        padding: 10px 40px; 
        
    }

    .header__content {
        display: grid;
        grid-template-columns: 2fr 1fr;

        grid-template-areas: "search header-menu"
        "greeting header-buttons";
    }


    #magnify-glass {
        fill: gray;
    }
    .header__content-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

    }

    .header__content input[type="search"] {
        background-color: #dce7f3;
        height: 15px;
        border: none;
        outline: none;
        padding: 9px;
        font-size: .6rem;

        border-radius: 9px;
        min-width: 65%;
    }

    .header__content-notifications-bar {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: .6rem;
        font-weight: bold;
    }

    .header__content-notifications-bar > img {
        height: 20px;
    }

    .header__content-notifications-bar svg {
        fill: black;
        margin-right: 4px;

    }


    .header__content-greeting {
        display: grid;
        grid-area: greeting;
        padding: 10px 0;
        align-content: end;
        grid-template-columns: 60px 1fr; 
        grid-template-areas: "avatar-img greeting"
        
        

    }

    .header__content-greeting > img {
        grid-area: avatar-img;
        height: 50px;
    
    }

    .header__content-username {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: .6rem;
        font-weight: bold;
        grid-area: greeting;

    }


    .header__content-username h3 {
        font-size: .8rem;
        font-weight: bold;
    }

    .header__content-menu {
        display: flex;
        justify-content: flex-end; 
        gap: 15px;
        align-items: center;
    }

    .header__content-menu > button {
        height: 20px;
        width: 50px; 
        background-color: #0E86D4;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: .6rem;
        font-weight: bold;

        outline: none;

    }

    .main-content-container {
        display: grid;
        grid-area: main-content;
        grid-template-columns: 2fr 1fr;
        
        grid-template-areas: "projects announcements"
        "projects trending";
        padding: 10px 10px 20px 10px;
    }

        .project-container {
            display: grid;
            grid-area: projects;
            align-content: start;
            padding-top: 14px;
            
        }

        .section-header {
            font-size: 10px;
            font-weight: bold;
        }

        .project-container__cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 220px));
            gap: 20px;

        }

        .project-container__cards-options {
            display: grid;
            justify-content: end;
            padding: 10px;
            grid-template-columns: 20px 20px 20px; 
            
        }

        .project-container__cards  li  img {
            height: 20px;
        }
        
        .project-container__cards li {
            font-size: .7rem;
            display: grid;

            list-style: none;
            background-color: white;
            border-radius: 4px;
            box-shadow: 1px 2px 5px gray;

            border-left: 10px solid orange;
            padding: 0 10px;
        }
        
        .main-content__announcements {
            display: grid;
            grid-area: announcements;
            padding-top: 14px;
        }


        .announcements__card {
            background-color: white;
            border-radius: 4px;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
            font-size: .7rem;
            list-style: none;
            padding: 10px 15px;
            width: 70%;

        }


        .announcements__card li p:nth-child(1) {
            font-weight: bold;
        }

        .announcements__card hr {
            outline-style: none;
            border: none;
            border-top: 1px solid lightgray;

        }


        .main-content__trending {
            display: grid;
            grid-area: trending;
            padding-top: 14px;
        }

        .trending__card {
            background-color: white;
            border-radius: 4px;
            padding: 10px 15px;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
            width: 70%; 
        }

        .trending__card-entry {
            display:grid;
            grid-template-columns: minmax(30px, 40px ) 4fr;
            grid-template-areas: "avatar user-handle"
            "avatar title";
            font-size: .7rem;
            padding: 5px 0;
        }

        .trending__card-entry img {
            height: 20px;
            grid-area: avatar;

        }


        .trending__card-entry p:nth-child(1) {
            font-weight: bold;
            grid-area: user-handle;
        }

        .trending__card-entry p:nth-child(2) {
            color: lightgray;
        
        }

        









